go 1.25.5

use ./shared

use ./services/auth-service

use ./services/api-gateway

use (
	./services/academic-service
	./services/notification-service
	./services/admission-service
	./services/attendance-service
	./services/assessment-service
	./services/finance-service
	./services/file-service
)
